<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Query for local time</title>
<link rel="stylesheet" href="user.css">
</head>
<body>

<div class="logout-btn">
<form action="Logout" method="POST">
	<input type="submit" value="Logout"/>
</form>
</div>

<h1> WELCOME </h1>
<div class="admin-page left">
  <div class="form">
    <p>VIEW FLIGHTS</p>
    <a href="/maven-web-project-example/ClientRequests">VIEW</a>
    <p>QUERY</p>
    <a href="Query.html">QUERY</a>
    
    
  </div>
 </div>
 <div class="admin-page right">
  <div class="form">
  	<form action="ClientResponse" method="GET">
  		<p>CITY NAME</p>
  		<input type="text" name="city_name" required>
  		<input type="submit" value="QUERY">
  	</form>
  </div>
</div>
</body>
</html>